# 환경 변수
.env

# 에디터 임시 파일
*.swp

# Python 관련
*.pyc
__pycache__/
generate/__pycache__/

# 로그
logs/
flask.log

# macOS 관련
.DS_Store

# static/generated 무시 → .html은 추적
static/generated/
!static/generated/
!static/generated/*.html

# static/preview 무시 → .html은 추적
static/preview/
!static/preview/
!static/preview/*.html

